@if $include__trump--margin{
	/*------------------------------------
	 # TRUMP MARGIN
	------------------------------------*/

	@for $i from $setting__trumps-margin-init through $setting__trumps-margin-end{
		$value : $i*$setting__trumps-margin-steps;
/// Margin trump
/// @access public
/// @author Front-tech Team
/// @group trumps
/// @name .t-margin-#{$value}
/// @see setting__trumps-margin-init
/// @see setting__trumps-margin-steps
/// @see setting__trumps-margin-end
/// @since version 1.0.0
		.t-margin-#{$value}{
			margin: #{$value}px !important;
		}
/// Margin top trump
/// @access public
/// @author Front-tech Team
/// @group trumps
/// @name .t-margin-top-#{$value}
/// @see setting__trumps-margin-init
/// @see setting__trumps-margin-steps
/// @see setting__trumps-margin-end
/// @since version 1.0.0
		.t-margin-top-#{$value}{
			margin-top: #{$value}px !important;
		}
/// Margin right trump
/// @access public
/// @author Front-tech Team
/// @group trumps
/// @name .t-margin-right-#{$value}
/// @see setting__trumps-margin-init
/// @see setting__trumps-margin-steps
/// @see setting__trumps-margin-end
/// @since version 1.0.0
		.t-margin-right-#{$value}{
			margin-right: #{$value}px !important;
		}
/// Margin bottom trump
/// @access public
/// @author Front-tech Team
/// @group trumps
/// @name .t-margin-bottom-#{$value}
/// @see setting__trumps-margin-init
/// @see setting__trumps-margin-steps
/// @see setting__trumps-margin-end
/// @since version 1.0.0
		.t-margin-bottom-#{$value}{
			margin-bottom: #{$value}px !important;
		}
/// Margin left trump
/// @access public
/// @author Front-tech Team
/// @group trumps
/// @name .t-margin-left-#{$value}
/// @see setting__trumps-margin-init
/// @see setting__trumps-margin-steps
/// @see setting__trumps-margin-end
/// @since version 1.0.0
		.t-margin-left-#{$value}{
			margin-left: #{$value}px !important;
		}
	}

	/*------------------------------------
	 # END TRUMP MARGIN
	------------------------------------*/

}// end if
