<section>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">BASIC INFOBOXS</h2>
	<div class="t-margin-bottom-40" fxLayout="row wrap" fxLayoutGap="15px">
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--default">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">shopping_cart</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW ORDERS</span>
					<span class="o-infobox__total">142</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--primary">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">face</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW MEMBERS</span>
					<span class="o-infobox__total">365</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--success">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">bookmark</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BOOKMARKS</span>
					<span class="o-infobox__total">300</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--danger">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">favorite</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">LIKES</span>
					<span class="o-infobox__total">1426</span>
				</div>
			</div>
		</div>
	</div>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">HOVER ZOOM INFOBOXS</h2>
	<div class="t-margin-bottom-40" fxLayout="row wrap" fxLayoutGap="15px">
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--warning o-infobox--zoom">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">email</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">MESSAGES</span>
					<span class="o-infobox__total">12</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--info o-infobox--zoom">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">devices</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">CPU USAGE</span>
					<span class="o-infobox__total">99%</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--darken o-infobox--zoom">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">access_alarm</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">ALARM</span>
					<span class="o-infobox__total">07:15 AM</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--primary o-infobox--zoom">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">gps_fixed</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">LOCATION</span>
					<span class="o-infobox__total">SPAIN</span>
				</div>
			</div>
		</div>
	</div>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">INFOBOXS BUTTONS</h2>
	<div class="t-margin-bottom-40" fxLayout="row wrap" fxLayoutGap="15px">
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<button class="o-infobox o-infobox--info o-infobox--zoom o-infobox--btn" type="button">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">equalizer</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BOUNCE RATE</span>
					<span class="o-infobox__total">62%</span>
				</div>
			</button>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<button class="o-infobox o-infobox--warning o-infobox--zoom o-infobox--btn" type="button">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">flight_takeoff</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">FLIGHT</span>
					<span class="o-infobox__total">18:50 PM</span>
				</div>
			</button>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<button class="o-infobox o-infobox--success o-infobox--zoom o-infobox--btn" type="button">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">battery_charging_full</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BATTERY</span>
					<span class="o-infobox__total">Charging</span>
				</div>
			</button>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<button class="o-infobox o-infobox--danger o-infobox--zoom o-infobox--btn" type="button">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">brightness_low</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BRIGHTNESS RATE</span>
					<span class="o-infobox__total">40%</span>
				</div>
			</button>
		</div>
	</div>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">COLORED INFOBOXS</h2>
	<div class="t-margin-bottom-40" fxLayout="row wrap" fxLayoutGap="15px">
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--bg-danger">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">shopping_cart</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW ORDERS</span>
					<span class="o-infobox__total">142</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--bg-primary">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">face</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW MEMBERS</span>
					<span class="o-infobox__total">365</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--bg-success">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">bookmark</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BOOKMARKS</span>
					<span class="o-infobox__total">300</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--bg-warning">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">favorite</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">LIKES</span>
					<span class="o-infobox__total">1426</span>
				</div>
			</div>
		</div>
	</div>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">FULL COLORED INFOBOXS</h2>
	<div class="t-margin-bottom-40" fxLayout="row wrap" fxLayoutGap="15px">
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-danger">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">shopping_cart</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW ORDERS</span>
					<span class="o-infobox__total">142</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-primary">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">face</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW MEMBERS</span>
					<span class="o-infobox__total">365</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-success">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">bookmark</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BOOKMARKS</span>
					<span class="o-infobox__total">300</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-warning">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">favorite</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">LIKES</span>
					<span class="o-infobox__total">1426</span>
				</div>
			</div>
		</div>
	</div>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">INVERT INFOBOXS</h2>
	<div class="t-margin-bottom-40" fxLayout="row wrap" fxLayoutGap="15px">
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-danger o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">shopping_cart</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW ORDERS</span>
					<span class="o-infobox__total">142</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-primary o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">face</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW MEMBERS</span>
					<span class="o-infobox__total">365</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-success o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">bookmark</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BOOKMARKS</span>
					<span class="o-infobox__total">300</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--full-warning o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">favorite</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">LIKES</span>
					<span class="o-infobox__total">1426</span>
				</div>
			</div>
		</div>
	</div>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">ICON COLORED INFOBOXS</h2>
	<div class="t-margin-bottom-40" fxLayout="row wrap" fxLayoutGap="15px">
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--icon-danger o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">shopping_cart</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW ORDERS</span>
					<span class="o-infobox__total">142</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--icon-primary o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">face</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">NEW MEMBERS</span>
					<span class="o-infobox__total">365</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--icon-success o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">bookmark</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">BOOKMARKS</span>
					<span class="o-infobox__total">300</span>
				</div>
			</div>
		</div>
		<div fxFlex="1 1 calc((100% / 4) - 15px)">
			<div class="o-infobox o-infobox--icon-warning o-infobox--inverted">
				<div class="o-infobox__head">
					<i class="o-infobox__head-icon material-icons">favorite</i>
				</div>
				<div class="o-infobox__container">
					<span class="o-infobox__title">LIKES</span>
					<span class="o-infobox__total">1426</span>
				</div>
			</div>
		</div>
	</div>
</section>