<section>
	<h1 class="o-title o-title--h4 o-title--light t-margin-bottom-10">BREADCRUMBS</h1>
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">BASIC</h3>
			</header>
			<div class="o-panel__container">
				<nav class="o-breadcrumb t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<span class="o-breadcrumb__txt">Home</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<span class="o-breadcrumb__txt">Library</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<span class="o-breadcrumb__txt">Data</span>
						</li>
					</ul>
				</nav>
			</div>
		</article>
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">WITH ICONS</h3>
			</header>
			<div class="o-panel__container">
				<nav class="o-breadcrumb t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<span class="o-breadcrumb__txt">Home</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<span class="o-breadcrumb__txt">Library</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<i class="o-breadcrumb__icon material-icons">archive</i>
							<span class="o-breadcrumb__txt">Data</span>
						</li>
					</ul>
				</nav>
			</div>
		</article>
	</div>
	<!-- BREADCRUMBS WITH COLORS -->
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">WITH ICONS</h3>
			</header>
			<div class="o-panel__container">
				<nav class="o-breadcrumb o-breadcrumb--danger t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<span class="o-breadcrumb__txt">Library</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--info t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<span class="o-breadcrumb__txt">Data</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--success t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<span class="o-breadcrumb__txt">File</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--warning t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to file">File</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<span class="o-breadcrumb__txt">Extension</span>
						</li>
					</ul>
				</nav>
			</div>
		</article>
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">WITH ICONS</h3>
			</header>
			<div class="o-panel__container">
				<nav class="o-breadcrumb o-breadcrumb--danger t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<span class="o-breadcrumb__txt">Library</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--info t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<i class="o-breadcrumb__icon material-icons">archive</i>
							<span class="o-breadcrumb__txt">Data</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--success t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">archive</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<i class="o-breadcrumb__icon material-icons">attachment</i>
							<span class="o-breadcrumb__txt">File</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--warning t-margin-bottom-30" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">archive</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">attachment</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to file">File</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<i class="o-breadcrumb__icon material-icons">extension</i>
							<span class="o-breadcrumb__txt">Extension</span>
						</li>
					</ul>
				</nav>
			</div>
		</article>
	</div>
	<!-- BREADCRUMBS WITH BACKGROUND COLORS -->
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">WITH ICONS</h3>
			</header>
			<div class="o-panel__container">
				<nav class="o-breadcrumb o-breadcrumb--bg-danger t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<span class="o-breadcrumb__txt">Library</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--bg-info t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<span class="o-breadcrumb__txt">Data</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--bg-success t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<span class="o-breadcrumb__txt">File</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--bg-warning t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item">
							<a class="o-breadcrumb__txt" href="#" title="Go to file">File</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<span class="o-breadcrumb__txt">Extension</span>
						</li>
					</ul>
				</nav>
			</div>
		</article>
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">WITH ICONS</h3>
			</header>
			<div class="o-panel__container">
				<nav class="o-breadcrumb o-breadcrumb--bg-danger t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<span class="o-breadcrumb__txt">Library</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--bg-info t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<i class="o-breadcrumb__icon material-icons">archive</i>
							<span class="o-breadcrumb__txt">Data</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--bg-success t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">archive</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<i class="o-breadcrumb__icon material-icons">attachment</i>
							<span class="o-breadcrumb__txt">File</span>
						</li>
					</ul>
				</nav>
				<nav class="o-breadcrumb o-breadcrumb--bg-warning t-margin-bottom-10" aria-label="breadcrumb">
					<ul class="o-breadcrumb__list">
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">home</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to home">Home</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">library_books</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to library">Library</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">archive</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to data">Data</a>
						</li>
						<li class="o-breadcrumb__item">
							<i class="o-breadcrumb__icon material-icons">attachment</i>
							<a class="o-breadcrumb__txt" href="#" title="Go to file">File</a>
						</li>
						<li class="o-breadcrumb__item" aria-current="page">
							<i class="o-breadcrumb__icon material-icons">extension</i>
							<span class="o-breadcrumb__txt">Extension</span>
						</li>
					</ul>
				</nav>
			</div>
		</article>
	</div>
</section>