<section>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">FORMS ELEMENTS</h2>
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">CHECKBOX</h3>
			</header>
			<div class="o-panel__container">
				<form action="#" method="POST">
					<fieldset>
						<legend class="t-hide-accessible">Form description</legend>
						<div>
							<div class="o-form-control">
								<h4 class="o-title o-title--h6">Checkbox normal</h4>
								<label class="o-checkbox" for="checkbox_normal">
									<input class="o-checkbox__ipt" type="checkbox" id="checkbox_normal" name="checkbox_normal" />
									<div class="o-checkbox__label">
										<span class="o-checkbox__icon"></span>
										<span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
									</div>
								</label>
							</div>
							<div class="o-form-control">
								<h4 class="o-title o-title--h6">Checkbox disabled</h4>
								<label class="o-checkbox" for="checkbox_disabled">
									<input class="o-checkbox__ipt" type="checkbox" id="checkbox_disabled" name="checkbox_disabled" disabled />
									<div class="o-checkbox__label">
										<span class="o-checkbox__icon"></span>
										<span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
									</div>
								</label>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</article>
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">CHECKBOX COLOURS</h3>
			</header>
			<div class="o-panel__container">
				<form action="#" method="POST">
					<fieldset>
						<legend class="t-hide-accessible">Form description</legend>
						<div>
							<div class="o-form-control">
								<h4 class="o-title o-title--h6">Checkbox success</h4>
								<label class="o-checkbox o-checkbox--success" for="checkbox_success">
									<input class="o-checkbox__ipt" type="checkbox" id="checkbox_success" name="checkbox_success" checked />
									<div class="o-checkbox__label">
										<span class="o-checkbox__icon"></span>
										<span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
									</div>
								</label>
							</div>
							<div class="o-form-control">
								<h4 class="o-title o-title--h6">Checkbox danger</h4>
								<label class="o-checkbox o-checkbox--danger" for="checkbox_danger">
									<input class="o-checkbox__ipt" type="checkbox" id="checkbox_danger" name="checkbox_danger" checked />
									<div class="o-checkbox__label">
										<span class="o-checkbox__icon"></span>
										<span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
									</div>
								</label>
							</div>
							<div class="o-form-control">
								<h4 class="o-title o-title--h6">Checkbox info</h4>
								<label class="o-checkbox o-checkbox--info" for="checkbox_info">
									<input class="o-checkbox__ipt" type="checkbox" id="checkbox_info" name="checkbox_info" checked />
									<div class="o-checkbox__label">
										<span class="o-checkbox__icon"></span>
										<span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
									</div>
								</label>
							</div>
							<div class="o-form-control">
								<h4 class="o-title o-title--h6">Checkbox warning</h4>
								<label class="o-checkbox o-checkbox--warning" for="checkbox_warning">
									<input class="o-checkbox__ipt" type="checkbox" id="checkbox_warning" name="checkbox_warning" checked />
									<div class="o-checkbox__label">
										<span class="o-checkbox__icon"></span>
										<span class="o-checkbox__txt"> Acepto la politica de privacidad</span>
									</div>
								</label>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</article>
	</div>
</section>