<section>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">TYPOGRAPHY</h2>
	<div fxLayout="row" fxLayoutGap="15px">
		<article class="o-panel">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">BODY COPY</h3>
				<ul class="o-panel__opts">
					<li class="o-panel__opts-item">
						<button class="o-panel__opts-btn">
							<i class="o-panel__opts-icon material-icons">more_vert</i>
						</button>
						<!-- <mat-menu class="wl-dropdown" #menu="matMenu">
							<button class="wl-dropdown__btn" mat-menu-item>Item 1</button>
							<button class="wl-dropdown__btn" mat-menu-item>Item 2</button>
						</mat-menu> -->
					</li>
				</ul>
			</header>
			<div class="o-panel__container">
				<span class="o-panel__title o-title o-title--h5 o-title--light t-margin-bottom-15">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					Aenean commodo ligula eget dolor. Aenean massa.
				</span>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
			</div>
		</article>
	</div>
	<div fxLayout="row" fxLayoutGap="15px">
		<article class="o-panel">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">HEADINGS</h3>
				<ul class="o-panel__opts">
					<li class="o-panel__opts-item">
						<button class="o-panel__opts-btn">
							<i class="o-panel__opts-icon material-icons">more_vert</i>
						</button>
						<!-- <!-- <mat-menu class="wl-dropdown" #menu="matMenu">
							<button class="wl-dropdown__btn" mat-menu-item>Item 1</button>
							<button class="wl-dropdown__btn" mat-menu-item>Item 2</button>
						</mat-menu> --> -->
					</li>
				</ul>
			</header>
			<div class="o-panel__container">
				<h1 class="o-panel__title o-title o-title--h1 t-margin-bottom-10">h1. Heading</h1>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
				<h2 class="o-panel__title o-title o-title--h2 t-margin-bottom-10">h2. Heading</h2>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
				<h3 class="o-panel__title o-title o-title--h3 t-margin-bottom-10">h3. Heading</h3>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
				<h4 class="o-panel__title o-title o-title--h4 t-margin-bottom-10">h4. Heading</h4>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
				<h5 class="o-panel__title o-title o-title--h5 t-margin-bottom-10">h5. Heading</h5>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
				<h6 class="o-panel__title o-title o-title--h6 t-margin-bottom-10">h6. Heading</h6>
				<p class="o-panel__txt">
					Quis pharetra a pharetra fames blandit. Risus faucibus velit Risus imperdiet mattis
					neque volutpat, etiam lacinia netus dictum magnis per facilisi sociosqu. Volutpat.
					Ridiculus nostra.
				</p>
			</div>
		</article>
	</div>
	<div fxLayout="row" fxLayoutGap="15px">
		<article class="o-panel">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">TEXT STYLES</h3>
				<ul class="o-panel__opts">
					<li class="o-panel__opts-item">
						<button class="o-panel__opts-btn">
							<i class="o-panel__opts-icon material-icons">more_vert</i>
						</button>
						<!-- <mat-menu class="wl-dropdown" #menu="matMenu">
							<button class="wl-dropdown__btn" mat-menu-item>Item 1</button>
							<button class="wl-dropdown__btn" mat-menu-item>Item 2</button>
						</mat-menu> -->
					</li>
				</ul>
			</header>
			<div class="o-panel__container">
				<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-around">
					<div>
						<p class="o-title o-title--h6 o-title--bold t-margin-bottom-10">Regular</p>
						<ul class="o-list o-list--simple">
							<li class="o-list__item">
								<p class="o-text o-text--regular o-text--default">Default text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--regular o-text--danger">Danger text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--regular o-text--primary">Primary text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--regular o-text--success">Success text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--regular o-text--warning">Warning text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--regular o-text--info">Info text</p>
							</li>
						</ul>
					</div>
					<div>
						<p class="o-title o-title--h6 o-title--bold t-margin-bottom-10">Bold</p>
						<ul class="o-list o-list--simple">
							<li class="o-list__item">
								<p class="o-text o-text--bold o-text--default">Default text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--bold o-text--danger">Danger text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--bold o-text--primary">Primary text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--bold o-text--success">Success text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--bold o-text--warning">Warning text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--bold o-text--info">Info text</p>
							</li>
						</ul>
					</div>
					<div>
						<p class="o-title o-title--h6 o-title--bold t-margin-bottom-10">Italic</p>
						<ul class="o-list o-list--simple">
							<li class="o-list__item">
								<p class="o-text o-text--italic o-text--default">Default text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--italic o-text--danger">Danger text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--italic o-text--primary">Primary text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--italic o-text--success">Success text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--italic o-text--warning">Warning text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--italic o-text--info">Info text</p>
							</li>
						</ul>
					</div>
					<div>
						<p class="o-title o-title--h6 o-title--bold t-margin-bottom-10">Underline</p>
						<ul class="o-list o-list--simple">
							<li class="o-list__item">
								<p class="o-text o-text--underline o-text--default">Default text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--underline o-text--danger">Danger text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--underline o-text--primary">Primary text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--underline o-text--success">Success text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--underline o-text--warning">Warning text</p>
							</li>
							<li class="o-list__item">
								<p class="o-text o-text--underline o-text--info">Info text</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>