<section>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">ALERTS</h2>
	<div fxLayout="row" fxLayoutGap="15px">
		<article class="o-panel">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">BASIC ALERTS</h3>
			</header>
			<div class="o-panel__container">
				<div class="o-alert o-alert--default">
					<p class="o-alert__text"><strong>Well done!</strong> You successfully read this important alert message.</p>
				</div>
				<div class="o-alert o-alert--danger">
					<p class="o-alert__text"><strong>Oh snap!</strong> Change a few things up and try submitting again.</p>
				</div>
				<div class="o-alert o-alert--primary">
					<p class="o-alert__text"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</p>
				</div>
				<div class="o-alert o-alert--success">
					<p class="o-alert__text"><strong>Well done!</strong> You successfully read this important alert message.</p>
				</div>
				<div class="o-alert o-alert--info">
					<p class="o-alert__text"><strong>Well done!</strong> This alert needs your attention, but it's not super important.</p>
				</div>
				<div class="o-alert o-alert--warning">
					<p class="o-alert__text"><strong>Warning!</strong> Better check yourself, you're not looking too good..</p>
				</div>
			</div>
		</article>
		<article class="o-panel">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">ICON ALERTS</h3>
			</header>
			<div class="o-panel__container">
				<div class="o-alert o-alert--icon o-alert--default">
					<span class="o-alert__icon material-icons">pets</span>
					<p class="o-alert__text"><strong>Well done!</strong> You successfully read this important alert message.</p>
				</div>
				<div class="o-alert o-alert--icon o-alert--danger">
					<span class="o-alert__icon material-icons">close</span>
					<p class="o-alert__text"><strong>Oh snap!</strong> Change a few things up and try submitting again.</p>
				</div>
				<div class="o-alert o-alert--icon o-alert--primary">
					<span class="o-alert__icon material-icons">lock</span>
					<p class="o-alert__text"><strong>Heads up!</strong> This alert needs your attention, but it's not super important.</p>
				</div>
				<div class="o-alert o-alert--icon o-alert--success">
					<span class="o-alert__icon material-icons">check</span>
					<p class="o-alert__text"><strong>Well done!</strong> You successfully read this important alert message.</p>
				</div>
				<div class="o-alert o-alert--icon o-alert--info">
					<span class="o-alert__icon material-icons">info</span>
					<p class="o-alert__text"><strong>Well done!</strong> This alert needs your attention, but it's not super important.</p>
				</div>
				<div class="o-alert o-alert--icon o-alert--warning">
					<span class="o-alert__icon material-icons">warning</span>
					<p class="o-alert__text"><strong>Warning!</strong> Better check yourself, you're not looking too good..</p>
				</div>
			</div>
		</article>
	</div>
</section>