/*-------------------------------------------------------------
	#LIST
-----------------------------------------------------------------*/

@if $include__list == true {


	$list__margin-bottom			:	10  !default;

	.o-list,
	%list {

		&__item {
			position: relative;
		}
		
		/**
		 * Modifiers size
		 */

		&--simple {
			.o-list__item,
			%list__item {
				display: block;
				width: 100%;
				margin-bottom: $list__margin-bottom+px;
			}
		}

	}

} // END IF