/*-------------------------------------------------------------
	#INFOBOX
-----------------------------------------------------------------*/

@if $include__infobox == true {
	
	$infobox__position				:	relative;
	$infobox__display				:	flex;
	$infobox__width					:	100%;
	$infobox__size					:	80;
	$infobox__bg-default			:	white;
	$infobox__box-shadow			:	0 2px 10px rgba(0, 0, 0, 0.2);
	$infobox__colours				:	danger primary success warning info default darken;



	.o-infobox,
	%infobox {
		position: $infobox__position;
		display: $infobox__display;
		width: $infobox__width;
		height: $infobox__size+px;
		background-color: color($infobox__bg-default);
		@include box-shadow($infobox__box-shadow);

		&__head {
			display: inline-block;
			width: $infobox__size+px;
			text-align: center;
		}
		&__head-icon {
			font-size: 50px;
			line-height: $infobox__size+px;
			color: color(white);
		}
		&__container {
			display: inline-block;
			width: calc(100% - #{$infobox__size+px});
			text-align: left;
			padding: 16px 16px 16px 10px;
		}
		&__title {
			display: block;
			margin-bottom: 4px;
			font-size: 13px;
			font-weight: 300;
			color: color(project-txt);
		}
		&__total {
			display: block;
			font-size: 26px;
			color: color(project-txt);
		}
		
		/**
		 * Modifier colors
		 */

		@each $color in $infobox__colours {
			&--#{$color} {
				.o-infobox__head,
				%infobox__head {
					background-color: color(#{$color});
				}
				&.o-infobox--btn,
				&%infobox--btn {
					&:focus, &:active {
						@include box-shadow(0 0 0 3px color(#{$color},0.5));
					}
				}
			}
			&--bg-#{$color} {
				background-color: color(#{$color});
				.o-infobox__head,
				%infobox__head {
					background-color: color(black,0.12);
				}
				.o-infobox__title,
				%infobox__title,
				.o-infobox__total,
				%infobox__total {
					color: color(white);
				}
				&.o-infobox--btn,
				&%infobox--btn {
					&:focus, &:active {
						@include box-shadow(0 0 0 3px color(#{$color},0.5));
					}
				}
			}
			&--full-#{$color} {
				background-color: color(#{$color}-dark);
				.o-infobox__title,
				%infobox__title,
				.o-infobox__total,
				%infobox__total {
					color: color(white);
				}
				&.o-infobox--btn,
				&%infobox--btn {
					&:focus, &:active {
						@include box-shadow(0 0 0 3px color(#{$color}-dark,0.5));
					}
				}
				&.o-infobox--inverted,
				&%infobox--inverted {
					.o-infobox__head-icon,
					%infobox__head-icon {
						color: color(black,0.15);
					}
				}
			}
			&--icon-#{$color} {
				.o-infobox__head-icon,
				%infobox__head-icon {
					color: color(#{$color});
				}
				&.o-infobox--btn,
				&%infobox--btn {
					&:focus, &:active {
						@include box-shadow(0 0 0 3px color(#{$color}-dark,0.5));
					}
				}
			}
		}

		/**
		 * Modifier zoom hover
		 */
		
		&--zoom {
			.o-infobox__head-icon,
			%infobox__head-icon {
				@include transition(all 0.3s ease);
			}
			&:hover, &:focus, &:active {
				.o-infobox__head-icon,
				%infobox__head-icon {
					opacity: 0.4;
					@include transform(rotate(-32deg) scale(1.4));
				}
			}
		}

		&--btn {
			@include transition(box-shadow .15s ease-in-out);
		}

		&--inverted {
			flex-direction: row-reverse;
			.o-infobox__container,
			%infobox__container {
				padding-left: 16px;
			}
		}
	}
}