<header class="wl-website-dev t-margin-bottom-30">
	<figure class="wl-website-dev__icon">
		<img src="./assets/img/website-dev.png" alt="Website development" />
	</figure>
	<h1 class="wl-website-dev__title o-title o-title--h1 o-title--light">WEBSITE DEVELOPMENT</h1>
	<p class="wl-website-dev__txt o-text o-text--light">
		The repository is currently in development, construction tasks are being carried out.
	</p>
</header>
<section class="wl-section wl-section--w-980 wl-section--m-auto t-margin-bottom-40">
	<article class="t-margin-bottom-20">
		<h2 class="o-title o-title--h5 t-text-align-center t-margin-bottom-20">Why WebLab Repository?</h2>
		<p class="o-text o-text--lg o-text--light">
			WebLab Repository is a collection of UI components to start a web project easily and quickly.
			All widgets are open source and free to use under MIT License. 
			WebLab repository is developed by <a class="o-text o-text--danger o-text--link" href="http:weblabstudio.net">WebLab Studio</a>
			company with extensive experience in web applications in both the frontend and backend.
		</p>
	</article>
	<article class="t-margin-bottom-20">
		<h2 class="o-title o-title--h5 t-text-align-center t-margin-bottom-20">Technology & Methodology</h2>
		<ul class="ui-g">
			<li class="ui-g-3">
				<div class="wl-tech">
					<figure class="wl-tech__logo">
						<img src="./assets/img/home/ANGULAR.svg" />
					</figure>
					<div class="wl-tech__container">
						<h3 class="wl-tech__title">ANGULAR</h3>
						<p class="wl-tech__description">Angular is a platform that makes it easy to build applications with the web.</p>
					</div>
				</div>
			</li>
			<li class="ui-g-3">
				<div class="wl-tech">
					<figure class="wl-tech__logo">
						<img src="./assets/img/home/SASS.svg" />
					</figure>
					<div class="wl-tech__container">
						<h3 class="wl-tech__title">SASS</h3>
						<p class="wl-tech__description">Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
					</div>
				</div>
			</li>
			<li class="ui-g-3">
				<div class="wl-tech">
					<figure class="wl-tech__logo">
						<img src="./assets/img/home/ITCSS.png" />
					</figure>
					<div class="wl-tech__container">
						<h3 class="wl-tech__title">ITCSS</h3>
						<p class="wl-tech__description">How do I make my CSS scalable and maintainable? It’s a concern for every front-end developer. ITCSS has an answer</p>
					</div>
				</div>
			</li>
			<li class="ui-g-3">
				<div class="wl-tech">
					<figure class="wl-tech__logo">
						<img src="./assets/img/home/BEM.svg" />
					</figure>
					<div class="wl-tech__container">
						<h3 class="wl-tech__title">BEM</h3>
						<p class="wl-tech__description">BEM is a methodology that helps you to create reusable components and code sharing in front-end development</p>
					</div>
				</div>
			</li>
		</ul>
	</article>
</section>