<section>
	<h1 class="o-title o-title--h4 o-title--light t-margin-bottom-10">BUTTONS</h1>
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">BOOTSTRAP DEFAULT BUTTONS</h3>
				<span class="o-text o-text--default o-text--light o-text--sm">Use any of the available button classes to quickly create a styled button</span>
			</header>
			<div class="o-panel__container">
				<button class="o-btn o-btn--danger" type="button">DANGER</button>
				<button class="o-btn o-btn--primary" type="button">PRIMARY</button>
				<button class="o-btn o-btn--success" type="button">SUCCESS</button>
				<button class="o-btn o-btn--warning" type="button">WARNING</button>
				<button class="o-btn o-btn--info" type="button">INFO</button>
				<button class="o-btn o-btn--default" type="button">DEFAULT</button>
				<button class="o-btn o-btn--darken" type="button">DARKEN</button>
			</div>
		</article>
	</div>
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">BUTTON SIZES</h3>
				<span class="o-text o-text--default o-text--light o-text--sm">You can resize the buttons</span>
			</header>
			<div class="o-panel__container">
				<div class="ui-g">
					<div class="ui-g-2 t-text-align-center">
						<button class="o-btn o-btn--danger o-btn--big" type="button">DANGER</button>
						<button class="o-btn o-btn--danger" type="button">DANGER</button>
						<button class="o-btn o-btn--danger o-btn--small" type="button">DANGER</button>
						<button class="o-btn o-btn--danger o-btn--xsmall" type="button">DANGER</button>
					</div>
					<div class="ui-g-2 t-text-align-center">
						<button class="o-btn o-btn--primary o-btn--big" type="button">DANGER</button>
						<button class="o-btn o-btn--primary" type="button">DANGER</button>
						<button class="o-btn o-btn--primary o-btn--small" type="button">DANGER</button>
						<button class="o-btn o-btn--primary o-btn--xsmall" type="button">DANGER</button>
					</div>
					<div class="ui-g-2 t-text-align-center">
						<button class="o-btn o-btn--success o-btn--big" type="button">DANGER</button>
						<button class="o-btn o-btn--success" type="button">DANGER</button>
						<button class="o-btn o-btn--success o-btn--small" type="button">DANGER</button>
						<button class="o-btn o-btn--success o-btn--xsmall" type="button">DANGER</button>
					</div>
					<div class="ui-g-2 t-text-align-center">
						<button class="o-btn o-btn--warning o-btn--big" type="button">DANGER</button>
						<button class="o-btn o-btn--warning" type="button">DANGER</button>
						<button class="o-btn o-btn--warning o-btn--small" type="button">DANGER</button>
						<button class="o-btn o-btn--warning o-btn--xsmall" type="button">DANGER</button>
					</div>
					<div class="ui-g-2 t-text-align-center">
						<button class="o-btn o-btn--info o-btn--big" type="button">DANGER</button>
						<button class="o-btn o-btn--info" type="button">DANGER</button>
						<button class="o-btn o-btn--info o-btn--small" type="button">DANGER</button>
						<button class="o-btn o-btn--info o-btn--xsmall" type="button">DANGER</button>
					</div>
					<div class="ui-g-2 t-text-align-center">
						<button class="o-btn o-btn--default o-btn--big" type="button">DANGER</button>
						<button class="o-btn o-btn--default" type="button">DANGER</button>
						<button class="o-btn o-btn--default o-btn--small" type="button">DANGER</button>
						<button class="o-btn o-btn--default o-btn--xsmall" type="button">DANGER</button>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">BLOCK BUTTONS</h3>
				<span class="o-text o-text--default o-text--light o-text--sm">Create block level buttons</span>
			</header>
			<div class="o-panel__container">
				<button class="o-btn o-btn--danger o-btn--block" type="button">DANGER</button>
				<button class="o-btn o-btn--primary o-btn--block" type="button">PRIMARY</button>
				<button class="o-btn o-btn--success o-btn--block" type="button">SUCCESS</button>
				<button class="o-btn o-btn--warning o-btn--block" type="button">WARNING</button>
				<button class="o-btn o-btn--info o-btn--block" type="button">INFO</button>
				<button class="o-btn o-btn--default o-btn--block" type="button">DEFAULT</button>
				<button class="o-btn o-btn--darken o-btn--block" type="button">DARKEN</button>
			</div>
		</article>
	</div>
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc((100% / 2) - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">DISABLED BUTTONS</h3>
				<span class="o-text o-text--default o-text--light o-text--sm">Make buttons look unclickable by fading them back with opacity</span>
			</header>
			<div class="o-panel__container">
				<button class="o-btn o-btn--danger" type="button" disabled>DANGER</button>
				<button class="o-btn o-btn--primary" type="button" disabled>PRIMARY</button>
				<button class="o-btn o-btn--success" type="button" disabled>SUCCESS</button>
				<button class="o-btn o-btn--warning" type="button" disabled>WARNING</button>
				<button class="o-btn o-btn--info" type="button" disabled>INFO</button>
				<button class="o-btn o-btn--default" type="button" disabled>DEFAULT</button>
				<button class="o-btn o-btn--darken" type="button" disabled>DARKEN</button>
			</div>
		</article>
	</div>
</section>