<section>
	<h2 class="o-title o-title--h4 o-title--light t-margin-bottom-10">FORMS ELEMENTS</h2>
	<div fxLayout="row wrap" fxLayoutGap="15px">
		<article class="o-panel" fxFlex="1 1 calc(100% - 15px)">
			<header class="o-panel__header">
				<h3 class="o-panel__title o-title o-title--h5 o-title--light">TEXTAREA</h3>
			</header>
			<div class="o-panel__container">
				<form action="#" method="POST">
					<fieldset>
						<legend class="t-hide-accessible">Form description</legend>
						<div>
							<h4 class="o-title o-title--h6">Textarea normal</h4>
							<div class="o-form-control">
								<label for="textarea_normal" class="o-form-control__label">Textarea</label>
								<textarea class="o-form-control__input o-input" id="textarea_normal" name="textarea_normal" placeholder="Write something..."
								 rows="3"></textarea>
								<p class="o-form-control__msg">Campo informativo</p>
							</div>
						</div>
						<div>
							<h4 class="o-title o-title--h6">Textarea disabled</h4>
							<div class="o-form-control">
								<label for="textarea_disabled" class="o-form-control__label">Textarea</label>
								<textarea class="o-form-control__input o-input" id="textarea_disabled" name="textarea_disabled" placeholder="Write something..."
								 rows="3" disabled></textarea>
								<p class="o-form-control__msg">Campo informativo</p>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</article>
	</div>
</section>